body{
    background-image: url(https://images.unsplash.com/photo-1557821552-17105176677c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8b25saW5lJTIwc2hvcHBpbmd8ZW58MHx8MHx8&w=1000&q=80);
    background-size: cover;
    width: auto;
    height: auto;

}
.image{
background-color: aquamarine;
width: 400px;
height:300px;
margin: 0 auto;
display: flex;
align-items: center;
justify-content: center;
margin-top: 100px;
position:relative; bottom:55px;
}


.holder{
    float: left;
    background-color: aquamarine;
    width: 400px;
height:500px;
margin-top: 100px;
margin-left: 20px;
position:relative; bottom:77px;
opacity: 0.7;
}


h1{
word-spacing: 150px;
margin-left: 210px;
}