body{
    background-image: url(https://images.unsplash.com/photo-1557821552-17105176677c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8b25saW5lJTIwc2hvcHBpbmd8ZW58MHx8MHx8&w=1000&q=80);
    background-size: cover;
    width: auto;
    height: auto;

}
.card{
    background-color: aquamarine;
    width: 400px;
    height:650px;
    margin: 0 auto;
    margin-left: 900px;
    margin-top: 100px;
    position:relative; bottom:350px;
    text-align: center;
    opacity: 0.9;
}

h3{
    margin-top: auto;

}
.nav{
    line-height:30px ;
    margin-left: 675px;
    align-items: center;
    width: 10%;
}
.holder{
    background-image: url("https://m.media-amazon.com/images/I/71czD50UQ5L._AC_UX385_.jpg");
    background-size: cover;
    width: auto;
    height: auto;
    float: left;
    width: 650px;
    height:550px;
    margin-top: 100px;
    margin-left: 20px;
    align-items: center;

position:relative; bottom:350px;
opacity: 0.7;
}


h1{
    word-spacing: 400px;
    margin-left: 210px;
}

.image{
    width: 90%;
    height:350px;
    margin-left: 5px;
    margin-top: 10px;
}
.list{
    color: hsl(33, 60%, 3%);
}




.button{
    background-color: rgb(9, 3, 3);
    color: rgb(199, 176, 45);
    width: 200px;
    height: 50px;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;

}
button:hover{
    filter: opacity(0.7);
}
button:active{
    transform: translate(0,0.3rem);
}


.like-button {
    color: none;
    font-size: 1.7rem;
    border: none;
    background: none;
    transition: none;
    cursor: pointer;
  }
  .list{
    cursor: pointer;
  }
  